.hero-image {
    
  position: relative;

    &::before{
      position:absolute;
      content: "";
      inset: 0;
      /* The image used */
      background-image: url("images/me/Background.JPG");
  
    /* Add the blur effect */
      filter: blur(8px);
      -webkit-filter: blur(8px);
  
    /* Full height */
      height: 100%;
    /* Center and scale the image nicely */
    //background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  
  /* Position text in the middle of the page/image */
  .hero-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;


  }