*/* {
    font-size: 40px;
    color: black;
    margin: 0;
  }
*/
  

div{
  width:600px;
  height: 400px;
  display: flex;
  }

  .flag-one
  {
    flex-direction: column;
  }
  .flag-one *
  {
    height: 33%;
    width:99%;
  }
 /* .flag-one .line-one
  {
    background-color: yellow;
  }
  .flag-one .line-two
  {
    background-color: red;
  }
  .flag-one .line-three
  {
    background-color: yellow;
  }
*/
  .flag-two
  {

  }
  .flag-two *
  {
    height: 99%;
    width: 33%;
  }
  .flag-two .line-one
  {
    background-color: black;
  }
  .flag-two .line-two
  {
    background-color: red;
  }
  .flag-two .line-three
  {
    background-color: yellow;
  }

  .flag-three
  {
    flex-direction: column;
  }
  .flag-three *
  {
    height: 33%;
    width:99%;
  }

  .flag-four
  {
  }
  .flag-four *
  {
    height: 99%;
    width: 33%;
  }

  :hover .flag-one 
  {
    display: none;
    visibility: hidden;
  }
  :hover .flag-two
  {
    display: none;
    visibility: hidden;
  }


  smalldiv
  {


    
  }


  
  

/*
position static   
position relative from its container
position absalute where it is in world space
                  if parent is relative and child is absulte end result will be relative
position fixed    moves with page when scrolled
                  places in screen space
position sticky   static and relative until pushed by
                  then behaves like fixed 
                  */